<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="OnlineTest.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title>GREEN TEST</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="layout/scripts/jquery.jcarousel.setup.js"></script>
    <asp:ContentPlaceHolder ID="HeadContainer" runat="server">
        </asp:ContentPlaceHolder>
</head>
<body id="top">
    <form id="form1" runat="server">
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="Default.aspx">GREEN TEST</a></h1>
      <p>Online Testing System</p>
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="Default.aspx">Home</a></li>
        <li><a href="StudentPortal.aspx">Student Portal</a></li>
        <li><a href="StaffPortal.aspx">Staff Portal</a></li>
        <li><a href="Faqs.aspx">FAQs</a></li>        
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="container">
    <div class="homepage">
        <asp:ContentPlaceHolder ID="MainContainer" runat="server">
        </asp:ContentPlaceHolder>
      <br class="clear" />
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">GREEN TEST</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
    </form>
    
</body>
</html>
